<!DOCTYPE html>
<html lang="en">
<head>

  <title>Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="back">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#" [routerLink]="'/SHome'" >Smart Education</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" [routerLink]="'/grade'">Grade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/view-b'">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/homework'">Homework</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/evaluation-s'">Evaluation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/communication-s'">Communication</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" >
        Logout
        </button>
      </li>
    </ul>
  </nav>
  <h1>.</h1>
  <div>
  <p>First grade</p>
  <p>First Semester</p>
  <a href="https://iencontent.t4edu.com/books/20190807143433396-GE-PE-K01-SM1-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
  <a href="https://iencontent.t4edu.com/books/20190630141431033-GE-PE-K01-SM1-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
  <a href="https://iencontent.t4edu.com/books/20190625113104680-GE-PE-K01-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
  <a href="https://iencontent.t4edu.com/books/20190709090538219-GE-PE-K01-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
  <a href="https://iencontent.t4edu.com/books/20190608125832437-GE-PE-K01-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
  <a href="https://iencontent.t4edu.com/books/20190624134300507-GE-PE-K01-SM1-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>



  <p>_______________________</p>
  <br>
  <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191003120400796-GE-PE-K01-SM2-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190925120453051-GE-PE-K01-SM2-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190901211133912-GE-PE-K01-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190925162642470-GE-PE-K01-SM2-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190901202730008-GE-PE-K01-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191002133504526-GE-PE-K01-SM2-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>

  </div>

  <div>
    <p>_______________________</p>
    <p>second Grade</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190807144746723-GE-PE-K02-SM1-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190627131233269-GE-PE-K02-SM1-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190708073158649-GE-PE-K02-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190630145113852-GE-PE-K02-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190608175903785-GE-PE-K02-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190709091443430-GE-PE-K02-SM1-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191007135832531-GE-PE-K02-SM2-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200301093457412-GE-PE-K02-SM2-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20191001122333873-GE-PE-K02-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190926134215129-GE-PE-K02-SM2-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190925145245332-GE-PE-K02-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191006130008340-GE-PE-K02-SM2-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Third Grade</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190721091327428-GE-PE-K03-SM1-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190627094656501-GE-PE-K03-SM1-lang.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190627143130248-GE-PE-K03-SM1-math.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190626133618774-GE-PE-K03-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612090658106-GE-PE-K03-SM1-tart.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190627171206129-GE-PE-K03-SM1-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191006133613708-GE-PE-K03-SM2-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200213111454820-GE-PE-K03-SM2-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20200301082028424-GE-PE-K03-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20191003134336636-GE-PE-K03-SM2-scin.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20191002120844541-GE-PE-K03-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200128115034178-GE-PE-K03-SM2-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Fourth Grade</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190627214752949-GE-PE-K04-SM1-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190708092720524-GE-PE-K04-SM1-BLNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190630135049924-GE-PE-K04-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190709093520100-GE-PE-K04-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190609051237901-GE-PE-K04-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190627182336086-GE-PE-K04-SM1-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190628014132027-GE-PE-K04-SM1-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190608125555290-GE-PE-K04-SM1-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190807150525317-GE-PE-K04-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>




    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191009091311279-GE-PE-K04-SM2-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200204083904809-GE-PE-K04-SM2-BLNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20191007133037749-GE-PE-K04-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20191009101242350-GE-PE-K04-SM2-sCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20191007091644580-GE-PE-K04-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200217142756307-GE-PE-K04-SM2-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200217142756307-GE-PE-K04-SM2-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190903231611294-GE-PE-K04-SM2-TTGWD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20191008155546930-GE-PE-K04-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Fifth Grade</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190630152912263-GE-PE-K05-SM1-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190901095920347-GE-PE-K05-SM1-BLNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702124024309-GE-PE-K05-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190701153032835-GE-PE-K05-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612092751512-GE-pE-K05-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190701115232764-GE-PE-K05-SM1-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190917101322464-GE-PE-K05-SM1-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702151110827-GE-PE-K05-SM1-TGWD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702083035734-GE-PE-K05-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200114130506034-GE-PE-K05-SM1-comp.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Digital Skills</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191010115103290-GE-PE-K05-SM2-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200128122112484-GE-PE-K05-SM2-blng.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20191013140357014-GE-PE-K05-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20191013095359222-GE-PE-K05-SM2-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20191009101647499-GE-PE-K05-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191010145455203-GE-PE-K05-SM2-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20191010134906063-GE-PE-K05-SM2-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190904003759103-GE-PE-K05-SM2-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20191009123933820-GE-PE-K05-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191226094446349-GE-PE-K05-SM2-comp.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Digital Skills</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Sixth Grade</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190704124817248-GE-PE-K06-SM1-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190703094326223-GE-PE-K06-SM1-BLNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190703084141790-GE-PE-K06-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190703134823768-GE-PE-K06-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190701144501992-GE-PE-K06-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190703112254833-GE-PE-K06-SM1-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702155739608-GE-PE-K06-SM1-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702130432720-GE-PE-K06-SM1-TGWD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190702103103555-GE-PE-K06-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200114142412699-GE-PE-K06-SM1-comp.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Digital Skills</button></a>


    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20191014125349437-GE-PE-K06-SM2-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200301085704882-GE-PE-K06-SM2-BLNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Beautiful Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190905005159087-GE-PE-K06-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20200212100955616-GE-PE-K06-SM2-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190904014305263-GE-PE-K06-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191014135551331-GE-PE-K06-SM2-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200204091403649-GE-PE-K06-SM2-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190904190318782-GE-PE-K06-SM2-TTGWD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20191013130943169-GE-PE-K06-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200120090812297-GE-PE-K06-SM2-comp.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Digital Skills</button></a>


  </div>
  <div>
    <p>_______________________</p>
    <p>First Intermediate</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190617133104049-GE-ME-K07-SM1-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190512110527834-GE-ME-K07-SM1-ILNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190504163810924-GE-ME-K07-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190520110027354-GE-ME-K07-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190507131923053-GE-ME-K07-SM1-tart.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190618044757422-GE-ME-K07-SM1-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190619050612151-GE-ME-K07-SM1-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190516114929370-GE-ME-K07-SM1-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190619010736150-GE-ME-K07-SM1-tfsr.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/GE-ME-K07-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190801082052211-GE-ME-K07-SM1-COMP.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190930142508799-GE-ME-K07-SM2-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190919142841995-GE-ME-K07-SM2-ILNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20200126081230403-GE-ME-K07-SM2-math.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20200224134849813-GE-ME-K07-SM2-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190913211138561-GE-ME-K07-SM2-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200210115656120-GE-ME-K07-SM2-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200219084532694-GE-ME-K07-SM2-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190919082632642-GE-ME-K07-SM2-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190925110439606-GE-ME-K07-SM2-tfsr.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20191003101611114-GE-ME-K07-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190913191854713-GE-ME-K07-SM2-COMP.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Second Intermediate</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190623045656117-GE-ME-K08-SM1-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612084648149-GE-ME-K08-SM1-ILNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190520121547932-GE-ME-K08-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190523102540425-GE-ME-K08-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190520154632826-GE-ME-K08-SM1-tart.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190623040523934-GE-ME-K08-SM1-TWHD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190622233511929-GE-ME-K08-SM1-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190516131019233-GE-ME-k08-SM1-TTGWD.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190622232633636-GE-ME-k08-SM1-TFSR.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20190801095830529-GE-ME-K08-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612083551421-GE-ME-K08-SM1-COMP.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20200210113156715-GE-ME-K08-SM2-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190917100708079-GE-ME-K08-SM2-ilng.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190919125550084-GE-ME-K08-SM2-math.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190917164641323-GE-ME-K08-SM2-scin.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190917153822167-GE-ME-K08-SM2-tart.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200205081929767-GE-ME-K08-SM2-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200219130056195-GE-ME-K08-SM2-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190918151253605-GE-ME-K08-SM2-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200212111700753-GE-ME-K08-SM2-tfsr.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20191003114744126-GE-ME-K08-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190918094418628-GE-ME-K08-SM2-comp.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Third Intermediate</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190625145324443-GE-ME-K09-SM1-FGAH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190509113648417-GE-ME-K09-SM1-ILNG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20190530130448117-GE-ME-K09-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190523103432175-GE-ME-K09-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190508132817179-GE-ME-K09-SM1-TART.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191022114349326-GE-ME-K09-SM1-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190626111314302-GE-ME-K09-SM1-HDTH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190516133104194-GE-ME-K09-SM1-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190625111644899-GE-ME-K09-SM1-TFSR.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20190624114240549-GE-ME-K09-SM1-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612085215300-GE-ME-K09-SM1-COMP.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190930125553055-GE-ME-K09-SM2-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20200224101621158-GE-ME-K09-SM2-ilng.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Immortal Language</button></a>
    <a href="https://iencontent.t4edu.com/books/20200301083856533-GE-ME-K09-SM2-math.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190918132602185-GE-ME-K09-SM2-scin.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>
    <a href="https://iencontent.t4edu.com/books/20190919133610991-GE-ME-K09-SM2-tart.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Art Studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20200127154158756-GE-ME-K09-SM2-twhd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200203151116707-GE-ME-K09-SM2-hdth.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190918130833888-GE-ME-K09-SM2-ttgwd.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tajweed</button></a>
    <a href="https://iencontent.t4edu.com/books/20200224104115067-GE-ME-K09-SM2-TFSR.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20191001091754171-GE-ME-K09-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >National and social studies</button></a>
    <a href="https://iencontent.t4edu.com/books/20191001091754171-GE-ME-K09-SM2-EJTSM.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>First Secondary</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20200224114136783-GE-CBE-TRC-FGAH1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612090832496-GE-CBE-TRC-logh1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Arabic</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612110144739-GE-CBE-TRC-MATH1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20200126142724644-GE-CBE-TRC-PHYS1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >physics</button></a>
    <a href="https://iencontent.t4edu.com/books/20191107100804968-GE-CBE-TRC-EJTS.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >national Studies</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612110156708-GE-CBE-TRC-COMP1S.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>


    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20200224090928828-GE-CBE-TRC-hdth1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Hadith</button></a>
    <a href="https://iencontent.t4edu.com/books/20190612105512552-GE-CBE-TRC-LOGH2.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Arabic</button></a>
    <a href="https://iencontent.t4edu.com/books/20190717155211023-GE-CBE-TRC-MATH2.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190721093259405-GE-CBE-TRC-BIOG1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Biology</button></a>
    <a href="https://iencontent.t4edu.com/books/20190721024425809-GE-CBE-TRS-chmi1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Chemistry</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >Proffision Skills</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
  </div>
  <div>
    <p>_______________________</p>
    <p>Second Secondary</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190722173257071-GE-CBE-TRC-TWHD1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tawheed</button></a>
    <a href="https://iencontent.t4edu.com/books/20190530132051021-GE-CBE-TRC-logh3.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Arabic</button></a>
    <a href="https://iencontent.t4edu.com/books/20190714005552824-GE-CBE-TRNS-MATH3.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190711152634403-GE-CBE-TRNS-PHYS2.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Physics</button></a>
    <a href="https://iencontent.t4edu.com/books/20190717142434771-GE-CBE-TRHS-DPSY.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Social Studies</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>
    <a href="https://iencontent.t4edu.com/books/20190523142206641-GE-CBE-TRC-COMP2S.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Computer and Digital Skills</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20200128121423475-GE-CBE-TRC-TFSR1.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Tafseer</button></a>
    <a href="https://iencontent.t4edu.com/books/20190721151902725-GE-CBE-TRC-logh4.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Arabic</button></a>
    <a href="https://iencontent.t4edu.com/books/20190711151812201-GE-CBE-TRNS-MATH4.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20191128141115727-GE-CBE-TRNS-BIOG2.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Biology</button></a>
    <a href="https://iencontent.t4edu.com/books/20191104123704355-GE-CBE-TRNS-CHMI2.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Chemistry</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>

  </div>
  <div>
    <p>_______________________</p>
    <p>Third Secondary</p>
    <p>First Semester</p>
    <a href="https://iencontent.t4edu.com/books/20190714030120871-CBE-TRNS-MATH5.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190711142533819-CBE-TRNS-PHYS3.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Physics</button></a>
    <a href="https://iencontent.t4edu.com/books/20190717002752411-GE-CBE-TRNS-BIOG3.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Biology</button></a>
    <a href="https://iencontent.t4edu.com/books/20191104145932847-CBE-TRNS-CHMI3.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Chemistry</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>



    <p>_______________________</p>
    <br>
    <p>second Semester</p>
    <a href="https://iencontent.t4edu.com/books/20200126130414185-CBE-TRNS-MATH6.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
    <a href="https://iencontent.t4edu.com/books/20190714100444314-CBE-TRNS-PHYS4.PDF" target="_blank"><button type="button" class="btn btn-outline-primary" >Physics</button></a>
    <a href="https://iencontent.t4edu.com/books/20190717024521478-GE-CBE-TRC-ENVR.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Environment</button></a>
    <a href="https://iencontent.t4edu.com/books/20190714084208467-GE-CBE-TRNS-CHMI4.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Chemistry</button></a>
    <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" >English</button></a>

  </div>
</body>

