<!DOCTYPE html>
<html lang="en">
<head>

  <title>Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="back">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#" [routerLink]="'/SHome'" >Smart Education</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" [routerLink]="'/grade'">Grade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/view-b'">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/homework'">Homework</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/evaluation-s'">Evaluation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/communication-s'">Communication</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" >
        Logout
        </button>
      </li>
    </ul>
  </nav>
  <h1>.</h1>
  <p>First grade</p>
  <p>First semester</p>
  <a href="https://iencontent.t4edu.com/books/20190807143433396-GE-PE-K01-SM1-fgah.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Fikh</button></a>
  <a href="https://iencontent.t4edu.com/books/20190630141431033-GE-PE-K01-SM1-LANG.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >My Language</button></a>
  <a href="https://iencontent.t4edu.com/books/20190625113104680-GE-PE-K01-SM1-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
  <a href="https://iencontent.t4edu.com/books/20190709090538219-GE-PE-K01-SM1-SCIN.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Science</button></a>


  <p>_______________________</p>
  <br>
  <p>second grade</p>
  <a href="https://iencontent.t4edu.com/books/20190901211133912-GE-PE-K01-SM2-MATH.pdf" target="_blank"><button type="button" class="btn btn-outline-primary" >Math</button></a>
</body>

