<!DOCTYPE html>
<html lang="en">
<head>

  <title>Welcome</title>
  <h1></h1>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="back">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#" [routerLink]="'/admin-home'">Smart Education</a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Register
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" [routerLink]="'/app/register'">Register Student</a>
          <a class="dropdown-item" href="#" [routerLink]="'/app/register-teacher'">Register Teacher</a>
          <a class="dropdown-item" href="#" [routerLink]="'/app/register-parent'">Register Parent</a>
          <a class="dropdown-item" href="#" [routerLink]="'/app/register-mangement'">Register Admin</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="'/app/complaint'">Complaint</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="'/app/evaluation-list'">Evaluation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="'/app/communication-list'">Communication</a>
    </li>
    <li>
      <a class="nav-link" href="#" [routerLink]="'/app/classes'">Classes</a>
    </li>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false"> More
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" [routerLink]="'/app/list'">Student List</a>
        <a class="dropdown-item" href="#" [routerLink]="'/app/link-parent'">LinkParent&Student</a>
        <a class="dropdown-item" href="#" [routerLink]="'/app/open-grading'">Open Grading</a>
        <a class="dropdown-item" href="#" [routerLink]="'/app/contact-us'">Contact us</a>
        <a class="dropdown-item" href="#" [routerLink]="'/app/about-us'">About us</a>
      </div>
    </div>

    <li class="nav-item">

      <button type="button" class="btn btn-primary" >
        Logout
      </button>

    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">

</div>
<div class="container" style="background-image: image()">
</div>
<div class="back">
  <script data-who='💎 Made with naker.io 💎' src='https://d23jutsnau9x47.cloudfront.net/back/v1.0.1/viewer.js'
          data-back='{"particle":{"direction1":{"x":100,"y":100,"z":100},"direction2":{"x":-100,"y":-100,"z":-100},"life":0.7,"power":0.005,"texture":"https://res.cloudinary.com/naker-io/image/upload/v1566560053/circle_04.png","number":224,"colorStart":[255,234,0,1],"colorEnd":[245,246,215,1],"sizeStart":0.31,"sizeEnd":0.62},"environment":{"gradient":"horizontal","sensitivity":1,"colorStart":[21,24,25,1],"colorEnd":[95,100,118,1]}}'></script>
</div>


<div class="container-fluid" style="margin-top:80px">
  <div #table class="table-editable row column">
  <h1>Students Details</h1>
  <table #Table class="table table-hover" >
      <thead class="thead-dark">
        <tr>

          <th scope="col">#ID</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Gender</th>
          <th scope="col">Select</th>

        </tr>
      </thead>
      <tbody >
        <tr  *ngFor=" let student of students" (click)=" AssignStd(student)" >

              <td scope="row" >{{student.ID}}</td>
              <td>{{student.FirstName}}</td>
              <td>{{student.LastName}}</td>
              <td>{{student.Gender}}</td>

              <td>
                  <input type="checkbox" class="glyphicon glyphicon-check" >
              </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="container-fluid" style="margin-top:80px">
  <div #table class="verticalLine table-editable row column">
  <h1>Parents Details</h1>
  <table #Table class="table table-hover" >
      <thead class="thead-dark">
        <tr>

          <th scope="col">#ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Select</th>

        </tr>
      </thead>
      <tbody >
        <tr  *ngFor=" let parent of parents" (click)="KeyAssign(parent)" >

              <td scope="row" >{{parent.ID}}</td>
              <td>{{parent.FirstName}}</td>
              <td>{{parent.LastName}}</td>
              <td>{{parent.PhoneNumber}}</td>

              <td>
                  <input type="checkbox" class="glyphicon glyphicon-check" >
              </td>

        </tr>
      </tbody>
    </table> 
    

  </div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary btn-block" (click)= "end()"> Link Student  </button>
</div>
